@{
    ViewBag.Title = "Administrador de portafolio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to mi PORTAFOLIO (CARMEN :D), para ingresar al portal de los jefes es necesario iniciar sesion.</p>
